.button {
    background-color: #3abd69;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 24px;
    box-shadow: 0 0 4px #c2d1d9;
}

.white {
    border: 2px solid #d3d3d3;
    color: #717171;
    background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(226, 226, 226) 100%);
}

.blue {
    border: 2px solid #007291;
    color: white;
    background: linear-gradient(to bottom, rgb(0, 180, 228) 0%, rgb(0, 138, 176) 100%);
}

.green {
    border: 2px solid #7fa046;
    color: white;
    background: linear-gradient(to bottom, rgb(140, 202, 0) 0%, rgb(106, 154, 0) 100%);
}

.button:hover {
    cursor: pointer;
}
