h1 {
    color: blue;
}

h2 {
    color: rgb(230, 179, 34);
}

.main {
    color: blue;
    list-style: square;
}

ul>li{
    list-style: initial;
}

ul ul li:first-child {
    color: red;
}

.nothing {
    list-style: none;
}
