.container {
    width: 100%;
    height: 500px;
    display: flex;
    background-color: #ffd62a;
    align-items: flex-end;
    padding: 0;
    justify-content: flex-end;
}

.item {
    list-style: none;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background: #b02aff;
}
